* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #002e00;
}

form {
    position: relative;
    text-align: center;
    width: 400px;
    height: 200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label, input {
    display: block;
    margin: 15px auto;
}

input {
    font-size: 18px;
    width: 300px;
    padding: 15px 15px 15px 25px;
    border-radius: 8px;
    height: 35px;
    border: 1px solid green;
    text-align: center;
}

#generateDescriptionButton {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

#productCode {
    padding-right: 15px;
    text-align: center;
}


#copyButton {
    display: flex;
    margin: 0 auto;
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

#generateDescriptionButton:hover, #copyButton:hover {
    background-color: #00d500;
}


input::placeholder {
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
}

#productDescription {
    width: 550px;
    height: 480px;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#notification {
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    background-color: rgba(0, 128, 0, 0.559);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}


.hidden {
    display: none;
}

main {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 30px;
}

.copiar {
    display: none;
    flex-direction: column;
    gap: 30px;
}