* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
}

main {
    display: flex;
}

form {
    text-align: center;
    width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label, input {
    display: block;
    margin: 15px auto; /* Mantenha esta regra para espaçamento vertical */
}

input {
    font-size: 18px;
    width: 300px;
    border-radius: 8px;
    height: 25px;
    border: 1px solid green;
    padding-left: 5%;
    text-align: center;
}

button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
}

#copyButton {
    position: absolute;
    bottom: 40px;
    right: 260px;
    text-align: center;
}

button:hover {
    background-color: #ff5500;
}

input::placeholder {
    font-size: 15px;
    font-weight: 500;
    padding-right: 20px;
}

#productDescription {
    width: 550px;
    height: 450px;
    overflow-y: auto;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
